body {
    padding: 5px;
    margin: 10%;
}

h1 {
    text-align: center;
    color: green;
}

p {
    text-align: center;
    color: darkgreen;
}

h2.intro {
    text-align: center;
    color: darkblue;
}

p.intro {
    text-align: center;
    color: blue;
}

img.intro {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: block;
}